{% extends 'base.html.twig' %}
{% block titre %}
    <h2>Type de résultats</h2>
{% endblock %}
{% block list %}
    <table>
        <th>Type</th>
        <th>Commentaire</th>
        {% for typeResultat in typesResultat %}
            <tr>
                <td>{{ typeResultat.type }}</td>
                <td>{{ typeResultat.commentaire | default('NULL') }}</td>
                <td class="optional_td"><a href = '{{ path('typesResultat_change', {'id_typeResultat':typeResultat.id}) }}'>✏️</a></td>
                <td class="optional_td"><a href = '{{ path('typesResultat_delete', {'id_typeResultat':typeResultat.id}) }}'>❌</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="create_div"><button class="creator"><a href="{{ path('typesResultat_create') }}">➕</a></button></div>
{% endblock %}

