{% extends 'base.html.twig' %}
{% block titre %}
    <h2>Informations étudiant</h2>
{% endblock %}
{% block list %}
<table>
    <tr>
        <th>nom</th>
        <th>prénom</th>
        <th>INE</th>
        <th>email</th>
        <th>commentaire</th>
    </tr>
    {% for etudiant in etudiants %}
    <tr class="tr-table">
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.prenom }}</td>
        <td>{{ etudiant.numero }}</td>
        <td>{{ etudiant.email | default ("NULL") }}</td>
        <td>{{ etudiant.commentaire | default("NULL") }}</td>
        <td class="optional_td"><a href="{{ path('etudiant_ensemble_notes', {'studentId' : etudiant.id }) }}">Consulter les notes</a></td>
        <td class="optional_td"><a href = '{{ path('etudiant_change', {'id_student':etudiant.id}) }}'>✏️</a></td>
        <td class="optional_td"><a href = '{{ path('etudiant_delete', {'id_etudiant':etudiant.id}) }}'>❌</a></td>
    </tr>
    {% endfor %}
</table>
    <div class="create_div"><button class="creator"><a href="{{ path('etudiant_add_student') }}">➕</a></button></div>
{% endblock %}