{% extends 'base.html.twig' %}
{% block titre %}
    <h1>Les Etudiants</h1>
{% endblock %}
{% block list %}
<table>
    <tr>
        <th>nom</th>
        <th>prénom</th>
        <th>INE</th>
        <th>email</th>
        <th>commentaire</th>
        <th></th>
    </tr>
{% for etudiant in etudiants %}
    <tr class="tr-table">
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.prenom }}</td>
        <td>{{ etudiant.numero }}</td>
        <td>{{ etudiant.email }}</td>
        <td>{{ etudiant.commentaire }}</td>
        <td><a href="#">Consulter les notes</a></td>
    </tr>
{% endfor %}
{%endblock %}