{% extends 'base.html.twig' %}
{% block list %}
<h2>{{ etudiant.prenom }}{{ etudiant.nom }}</h2>
<table>
    <tr>
        <th>nom</th>
        <th>prénom</th>
        <th>INE</th>
        <th>email</th>
        <th>commentaire</th>
    </tr>
    <tr class="tr-table">
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.prenom }}</td>
        <td>{{ etudiant.numero }}</td>
        <td>{{ etudiant.email }}</td>
        <td>{{ etudiant.commentaire }}</td>
    </tr>
</table>
{% endblock %}