{% extends 'base.html.twig' %}
{% block titre %}
    <h2>Les UEs</h2>
{% endblock %}
{% block list %}
<table>
    <th>Nom</th>
    <th>Nom Court</th>
    <th>Ects</th>
    <th>Code Apogée</th>
    <th>Commentaire</th>
    {% for ue in ues %}
        <tr>
        <td>{{ ue.nom }}</td>
        <td>{{ ue.nomCourt }}</td>
        <td>{{ ue.ects }}</td>
        <td>{{ ue.codeApogee }}</td>
        <td>{{ ue.commentaire | default ('NULL') }}</td>
            <td class="optional_td"><a href = '{{ path('ue_modifier', {'ue_id':ue.id}) }}'>✏️</a></td>
        </tr>
    {% endfor %}
</table>
    <div class="create_div"><button class="creator"><a href="{{ path('ue_creer') }}">➕</a></button></div>
{% endblock %}