{% extends 'base.html.twig' %}
{% block list %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Note sur la periode inscrite</th>
            <th>Nombre de points du jury</th>
            <th>Saisie Manuelle</th>
            <th>Type de Note</th>
            <th>Code Apogée Periode</th>
            <th>Inscription Partielle</th>
        </tr>
        {% for npe in note_periode_etudiant %}
            <tr class="tr-table">
                <td>{{ npe.etudiant.nom }}</td>
                <td>{{ npe.etudiant.prenom }}</td>
                <td>{{ npe.note | default("NULL") }}</td>
                <td>{{ npe.pointsJury | default("NULL")}}</td>
                {% if 0 == npe.saisie %}
                    <td>Vrai</td>
                {% else %}
                    <td>Faux</td>
                {% endif %}
                <td>{{ npe.typeNote.type | default("NULL") }}</td>
                <td>{{ npe.periode.codeApogee }}</td>
                {% if  0 == npe.inscriptionPartielle%}
                    <td>Vrai </td>
                {% else %}
                    <td>Faux</td>
                {% endif %}
                <td class="optional_td"><a href = '{{ path('modifier_periode_grade', {'inscriptionPeriodeId':npe.id}) }}'>✏️</a></td>
                <td class="optional_td"><a href = '{{ path('supprimer_periode_grade', {'inscriptionPeriodeId':npe.id}) }}'>❌</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="create_div"><button class="creator"><a href="{{ path('creer_notes_periode') }}">➕</a></button></div>
{% endblock %}