<h2 class="title_links">Menu</h2>
{% block listinglinks %}
    <nav class="nav-links">
        <ul>
            {# Universités #}
            <li class="link-list">
                <a href="{{ path('universite_list') }}">
                    Notes
                </a>
            </li>
            {# UFR #}
            <li class="link-list">
                <a href="{{ path('ufrs_list') }}">
                    Gestion
                </a>
            </li>
            {# Parcours #}
            <li class="link-list">
                <a href="{{ path('_parcours_list') }}">
                    Parcours
                </a>
            </li>
            {# Périodes #}
            <li class="link-list">
                <a href="{{ path('_periodes_list') }}">
                    Périodes
                </a>
            </li>
            {# UEs #}
            <li class="link-list">
                <a href="{{ path('_ues_list') }}">
                    UEs
                </a>
            </li>
            {# Epreuves #}
            <li class="link-list">
                <a href="{{ path('_epreuves_list') }}">
                    Epreuves
                </a>
            </li>
            {# Types Notes #}
            <li class="link-list">
                <a href="{{ path('types_note_list') }}">
                    Types Notes
                </a>
            </li>
            {# Types Resultat #}
            <li class="link-list">
                <a href="{{ path('typesResultat_list') }}">
                    Types Resultat
                </a>
            </li>
            {# Mentions #}
            <li class="link-list">
                <a href="{{ path('mentions_list') }}">
                    Mentions
                </a>
            </li>
            {# Etudiants #}
            <li class="link-list">
                <a href="{{ path('etudiants_list') }}">
                    Etudiants
                </a>
            </li>
            {# Diplomes #}
            <li class="link-list">
                <a href="{{ path('diplomes_list') }}">
                    Diplomes
                </a>
            </li>
            {# Nature Epreuve #}
            <li class="link-list">
                <a href="{{ path('natures_epreuves_list') }}">
                    Nature Epreuve
                </a>
            </li>
            {# Periodicite #}
            <li class="link-list">
                <a href="{{ path('periodicite_list') }}">
                    Periodicite
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}