<h2 class="title_links">Menu</h2>
{% block listinglinks %}
    <nav class="nav-links">
        <ul>
            {# Universités #}
            <li class="link-list">
                <a href="{{ path('list') }}">
                    Notes
                </a>
            </li>
            {# UFR #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Parcours #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Périodes #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# UEs #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Epreuves #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# UFRs #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Types Notes #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Types Resultat #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Mentions #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Etudiants #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Diplomes #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Nature Epreuve #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
            {# Periodicite #}
            <li class="link-list">
                <a href="{{ path('redirect_to_gestion_view') }}">
                    Gestion
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}